[submodule "3rd/rapidjson"]
	path = 3rd/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "3rd/curl"]
	path = 3rd/curl
	url = https://github.com/curl/curl.git
[submodule "3rd/csylib"]
	path = 3rd/csylib
	url = https://github.com/geniusC/csylib.git
